*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    height:100vh;
    font-family:Arial, sans-serif;

    background-image:
    linear-gradient(
        rgba(0,0,0,.2),
        rgba(0,0,0,.2)
    ),
    url("../img/fondo.jpg");

    background-size:cover;
    background-position:center;
}

/* LOGIN */

#login{

    position:absolute;

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:20px;

    backdrop-filter:blur(8px);

    z-index:100;
}

#login h1{

    color:white;
    font-size:3rem;
}

#login input{

    width:300px;
    padding:15px;

    border:none;
    border-radius:25px;

    font-size:18px;
    text-align:center;
}

#login button{

    padding:15px 40px;

    border:none;
    border-radius:25px;

    background:gold;

    font-size:18px;
    cursor:pointer;

    transition:.3s;
}

#login button:hover{

    transform:scale(1.05);
}

/* JARDIN */

#jardin{

    width:100%;
    height:100vh;

    position:relative;

    display:none;
}

/* MENSAJE */

#mensaje{

    position:absolute;
    top:25px;
    width:100%;

    text-align:center;

    color:white;

    font-size:3.5rem;
    font-weight:bold;

    z-index:999;

    text-shadow:
    0 0 10px #ffdd00,
    0 0 20px #ffdd00,
    0 0 40px #ffdd00,
    0 0 60px #ffdd00;
}

@keyframes latido{

    50%{
        transform:scale(1.05);
    }
}

@keyframes bloom{

    from{
        opacity:0;
        transform:scale(0);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}


/* MARIPOSAS */

.butterfly{

    position:absolute;

    font-size:1px;

    z-index:5;

    animation:fly linear infinite;
}

@keyframes fly{

    from{
        transform:
        translate(-100px,300px)
        rotate(0deg);
    }

    to{
        transform:
        translate(120vw,-200px)
        rotate(360deg);
    }
}

/* BRILLOS */

.sparkle{

    position:absolute;

    width:6px;
    height:6px;

    background:white;

    border-radius:50%;

    animation:sparkle 2s infinite;
}

@keyframes sparkle{

    0%,100%{
        opacity:0;
        transform:scale(0);
    }

    50%{
        opacity:1;
        transform:scale(2);
    }
}

#jardin::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    rgba(255,255,255,.15);

    backdrop-filter:blur(2px);
}
body::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(5px);
}
body{
    overflow:hidden;
    font-family:Arial,sans-serif;
    height:100vh;
}

/* FONDO INICIAL */

body.inicio{

    background-image:
    linear-gradient(
        rgba(0,0,0,.2),
        rgba(0,0,0,.2)
    ),
    url("../img/fondo.jpg");

    background-size:cover;
    background-position:center;
}

/* ==========================
   FONDO JARDÍN NOCTURNO
========================== */

body.jardin-activo{

    background:
    radial-gradient(
        circle at center,
        #0f2e46 0%,
        #081a2d 45%,
        #02060d 100%
    );

    transition:1.5s;
}

/* ==========================
   MENSAJE
========================== */

#mensaje{

    position:absolute;

    top:30px;

    width:100%;

    text-align:center;

    color:#ffeb3b;

    font-size:4rem;

    font-weight:bold;

    z-index:999;

    text-shadow:
        0 0 10px #ffeb3b,
        0 0 20px #ffeb3b,
        0 0 40px #ffeb3b,
        0 0 80px #ffeb3b;
}

/* ==========================
   FLORES
========================== */

#garden-svg{

    position:absolute;

    width:100%;

    height:100%;

    bottom:0;
}

.svg-flower{

    position:absolute;

    width:320px;

    filter:
        drop-shadow(0 0 20px #ffeb3b)
        drop-shadow(0 0 60px #ffeb3b)
        drop-shadow(0 0 120px #ffeb3b);

    animation:
        sway 4s ease-in-out infinite;
}

.svg-flower{

    filter:
        drop-shadow(0 0 3px #070707)
        drop-shadow(0 0 2px #f8e005)
        drop-shadow(0 0 10px #0e0e0d);
}

/* MOVIMIENTO */

@keyframes sway{

    0%{
        transform:rotate(-2deg);
    }

    50%{
        transform:rotate(2deg);
    }

    100%{
        transform:rotate(-2deg);
    }
}

/* CRECIMIENTO */

@keyframes crecer{

    from{
        opacity:0;
        transform:scale(0);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}

/* HIERBAS LARGAS */

#grass{

    position:absolute;

    bottom:0;

    width:100%;

    height:250px;

    background:
        linear-gradient(
            to top,
            #001d09,
            rgba(0,0,0,0)
        );

    z-index:1;
}

/* ==========================
   ESTRELLAS
========================== */

.star{

    position:absolute;

    width:5px;

    height:5px;

    border-radius:50%;

    background:#ffe600;

    box-shadow:
        0 0 10px #ffe600,
        0 0 20px #ffe600,
        0 0 40px #ffe600,
        0 0 80px #ffe600;

    animation:
    blink 2s infinite;
}

@keyframes blink{

    0%,100%{
        opacity:1;
    }

    50%{
        opacity:.3;
    }
}

/* ==========================
   LUCIÉRNAGAS
========================== */

.firefly{

    position:absolute;

    width:6px;

    height:6px;

    border-radius:20%;

    background:#ffe600;

    box-shadow:
        0 0 10px #ffe600,
        0 0 30px #ffe600,
        0 0 60px #ffe600;

    animation:
        blink 1.5s infinite;
}
.star{

    position:absolute;

    width:5px;
    height:5px;

    border-radius:50%;

    background:#ffe600;

    z-index:50;

    box-shadow:
        0 0 10px #ffe600,
        0 0 20px #ffe600,
        0 0 40px #ffe600,
        0 0 80px #ffe600;

    animation:blink 2s infinite;
}
.sparkle{

    position:absolute;

    width:6px;
    height:6px;

    background:white;

    border-radius:50%;

    z-index:50;

    animation:sparkle 2s infinite;
}
.butterfly{

    position:absolute;

    font-size:35px;

    z-index:100;

    animation:fly linear infinite;
}
.firefly{

    position:absolute;

    width:6px;
    height:6px;

    border-radius:50%;

    background:#ffe600;

    z-index:60;

    box-shadow:
        0 0 10px #ffe600,
        0 0 30px #ffe600,
        0 0 60px #ffe600;

    animation:blink 1.5s infinite;
}
#mensaje{

    animation:
    aparecer 2s ease;
}

@keyframes aparecer{

    from{

        opacity:0;
        transform:translateY(-50px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }
}
#dedicatoria{

    position:absolute;

    top:130px;

    width:100%;

    text-align:center;

    color:white;

    font-size:1.3rem;

    z-index:999;

    text-shadow:
        0 0 10px rgba(255,255,255,.5);
}
#garden-svg{

    position:absolute;

    left:50%;

    bottom:0;

    transform:translateX(-50%);

    width:900px;

    height:600px;
}
.flower1{
    left:-20%;
    bottom:10px;
}

.flower2{
    left:12%;
    bottom:70px;
}

.flower3{

    transform:scale(3.50);
    left:35%;
    bottom:180px;
}

.flower4{
    left:60%;
    bottom:70px;
}

.flower5{
    left:85%;
    bottom:20px;
}
#carta{

    display:none;

    position:absolute;

    left:50%;

    top:35%;

    transform:translate(-50%,-50%);

    background:rgb(184, 18, 101);

    padding:30px;

    border-radius:20px;

    color:#fdfafa;

    z-index:2000;
}
.flower3{

    transform:scale(1.1);

    z-index:10;
}
#carta{

    background:
    rgba(236, 9, 161, 0.95);

    backdrop-filter:blur(10px);

    padding:25px 35px;

    border-radius:20px;

    box-shadow:
    0 0 20px rgba(221, 219, 219, 0.973);

    animation:flotar 3s ease-in-out infinite;
}
.svg-flower{

    transition:.4s;
}

.svg-flower:hover{

    transform:
    scale(1.08);

    cursor:pointer;
}
#fecha{

    color:rgb(224, 219, 219);

    text-align:center;

    margin-top:24px;

    opacity:.7;
}

/* ==========================
   TABLETS
========================== */

@media (max-width: 1024px){

    #mensaje{

        font-size: 3rem;
    }

    #dedicatoria{

        font-size: 1rem;
    }

    .svg-flower{

        width: 200px;
    }
}

/* ==========================
   MÓVILES
========================== */

@media (max-width: 768px){

    #mensaje{

        width:90%;

        margin:auto;

        left:50%;
        transform:translateX(-50%);

        font-size:2.2rem;

        line-height:1.2;

        text-align:center;

        overflow-wrap:break-word;
    }

    #dedicatoria{

        width:90%;

        margin:auto;

        left:50%;
        transform:translateX(-50%);

        font-size:0.9rem;
    }

    #carta{

        width:85%;

        max-width:350px;

        font-size:14px;

        padding:15px;
    }

    .svg-flower{

        width:140px;
    }

}

/* ==========================
   TELEFONOS PEQUEÑOS
========================== */

@media (max-width: 480px){

    #mensaje{

        font-size:1.7rem;
    }

    #dedicatoria{

        font-size:.8rem;
    }

    .svg-flower{

        width:90px;
    }

    .flower1{
        left:15%;
    }

    .flower2{
        left:30%;
    }

    .flower3{
        left:45%;
    }

    .flower4{
        left:60%;
    }

    .flower5{
        left:75%;
    }

    #carta{

        width:90%;

        font-size:13px;
    }

    #login h1{

        font-size:1.6rem;
    }
}
#firma{

    position:absolute;

    bottom:10px;

    width:100%;

    text-align:center;

    color:rgb(10, 10, 10);

    opacity:.7;

    font-size:14px;
}